@import "_bootstrap_custom";

/*! purgecss start ignore */
html {
    height: 100%;
    position: relative;
}

body {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

app {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

main {
    flex-grow: 1;
    margin: auto;
    margin-top: 77px;
    z-index: 1;
}

a {
    transition: color .2s ease-in-out;
}

#main-navbar {
    background-color: white;
    background-color: rgba(249,249,249,0.9);
    transition: padding-top ease-in-out .5s, padding-bottom ease-in-out .5s;

    a {
        font-family: $headings-font-family;
        font-size: 1.375em;
        text-transform: lowercase;
    }
}

.section {
    flex-direction: column;
    padding-top: ($spacer * 3);
    padding-bottom: ($spacer * 3);
    margin-bottom: ($spacer * 2);
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);

    h1 {
        margin-bottom: 2rem;
    }

    h1, h2, h3 {
        text-align: center;
    }
}

.header-consensed {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.footer {
    a {
        transition: color .2s;
    }
}

#toTop {
    line-height: normal;
    position: fixed;
    right: 2em;
    bottom: 6.25em;
    z-index: 251;
    padding: .3em 1em;
    border: 1px solid rgb(225, 225, 225);
    border: 1px solid rgba(0, 0, 0, .1);
    font-size: 1.2em;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    box-shadow: 0 0 1px rgba(255, 255, 255, .1) inset;
    transition: all .5s ease-in-out;
    vertical-align: bottom;
    background-color: theme-color("tertiary");
    background-color: rgba(190, 148, 73, 0.4);
    color: theme-color("primary");

    &:hover {
        color: theme-color("secondary");
    }
}

p {
    margin: 0;
}

.container-fluid {
    width: 70%;
}

@media (max-width: 767px) {
    .container-fluid {
        width: 90%;
    }
}

article {
    width: 70%;
    margin: auto;
    text-align: justify;

    p {
        margin-bottom: .625em;
    }
}

@media (max-width: 768px) {
    article {
        width: 90%;
    }
}

.article-photo {
    max-width: 300px;
    margin-right: 10px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .article-photo {
        max-width: 260px;
    }
}

#background-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../images/background_image.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    z-index: 0;
}

.navbar-light .navbar-text {
    a {
        color: $navbar-light-color;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md {
        justify-content: center;

        .navbar-collapse {
            flex-grow: 0;
        }
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin: 0;
}

.carousel-inner {
    .carousel-item {
        height: 500px;

        &.active, &.carousel-item-left {
            display: flex;
            justify-content: center;
        }

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}

.carousel-caption {
    font-size: 1.25em;
    font-family: $headings-font-family;
}

.carousel-caption-title {
    font-size: 3.125em;
    font-family: $font-family-cursive;
    font-weight: 700;
    margin: 1em 0 .5em;
    color: theme-color("light");
}

.carousel-item {
    align-items: center;
}

.wedding-title {
    font-family: $font-family-cursive;
    font-size: 4.75em;
}

.wedding-text {
    color: theme-color("secondary");
    font-family: $headings-font-family;
}

.feature-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    .carousel-item {
        display: flex;
        width: 30%;
        margin: .5em;
        background-color: theme-color("light");
        border: .625em solid theme-color("light");
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.17);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.17);
        box-shadow: 0 1px 1px rgba(0,0,0,0.17);

        img {
            width: 100%;
            height: auto;
        }

        .carousel-caption {
            padding: 0;
            font-size: 1em;
        }

        .carousel-caption-title {
            margin: 0;
            font-size: 1.25em;
        }
    }
}

@media (max-width: 768px) {
    .feature-container {
        .item {
            width: 100%;
        }
    }
}

.feature-block {
    padding: 1.5em;
    min-width: 0px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.11);
    cursor: pointer;
    background-color: white;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    text-align: center;
    position: relative;
}

@media (min-width: 768px) {
    .feature-block {
        height: 250px !important;
        width: 300px;
        margin-right: 1.25em;
        min-height: 175px;
    }
}

@media (max-width: 768px) {
    .feature-block {
        height: 136px;
        min-height: 170px;
        width: 45%;
        padding: .625em;

        &:nth-child(odd) {
            margin-right: .625em;
        }
    }
}

@media (max-width: 568px) {
    .feature-block {
        min-height: 140px !important;
    }
}

.footer {
    background-image: url('../images/theme_image_bottom.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 7.5em;
    line-height: 7.5em;
    color: theme-color("primary");
    z-index: 2;

    a {
        text-decoration: none;
    }
}
/*! purgecss end ignore */
