@inherits LayoutComponentBase

<FrameworkLayout ThemeColor="ThemeColor.Primary">
    <FrameworkContent>
        <TopAppbar />
    </FrameworkContent>
    <ChildContent>
        <div id="bg-container"></div>
        @Body
        <footer class="site-footer primary">
            <small>© 2018-@(DateTime.Now.Year) <a href="mailto:wil.stead@williamstead.com">Wil Stead</a></small>
            <div id="footer-bg"></div>
        </footer>
    </ChildContent>
</FrameworkLayout>