.site-footer {
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: auto;
    padding-bottom: .25rem;
    padding-left: 1.5rem;
    pading-right: 1.5rem;
    padding-top: 1.5rem;
    position: relative;
}
#footer-bg {
    background-image: url('/images/theme_image_bottom.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    left: 0;
    min-height: 120px;
    opacity: .15;
    position: absolute;
    right: 0;
    top: 0;
}
