<AppBar Side="VerticalSide.Top" Style="font-family:var(--tavenem-font-family-title);--button-inherited-font-size:1.5em">
    <a href="/" class="btn btn-text me-4">Our story</a>
    <div class="d-none d-md-flex">
        <a class="btn btn-text primary" href="https://williamstead.com">Wil's website</a>
        <a class="btn btn-text primary" href="https://www.jessihigginbotham.com">Jessi's website</a>
    </div>
    <div class="d-md-none">
        <Dropdown Text="Our websites" Class="primary btn-text" Style="font-family:var(--tavenem-font-family-title)">
            <a href="https://williamstead.com">Wil's site</a>
            <a href="https://www.jessihigginbotham.com">Jessi's site</a>
        </Dropdown>
    </div>
    <LightDarkToggle Class="primary ms-auto" />
</AppBar>
